<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>

<![endif]-->
</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">About</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">About</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >
         <center> <p><font color="green">  <h2>MediAid (A Unique Hospital In Bangladesh)</h2></font></p></center>
         <center>  <h4>Matbererchar,Shibchar,Madaripur-7930</h4></center>
         <center> <h5>www.mediaidhospital.com</h5></center>
         <center><h6>+08801922901221</h6> </center>
<hr>

         <td><img th:src="@{/images/combind.jpg}" class="img-fluid" width="3000" height="300"></td>

         <div class="mkdf-row-grid-section-wrapper ">
             <div class="mkdf-row-grid-section">
                 <p style="text-align:justify;line-height: 2;">
                <center><h3>About Our Hospital</h3></center> <hr><hr>

                    <p> The MediAid Trust started its journey in June 1980 with a noble vision “To serve the humanity”.
                     The trust has agreed upon to provide healthcare service to the people of Bangladesh at affordable cost.
                     At the early of its commencement, few dedicated social workers of Bangladesh came together and had been
                     united with a strong determination to serve people of the country, the compatriots. That ambition was
                     materialized in the form of “MediAid Trust”.
                     At the time of launching, the trust was an institute of 13 employees including Physicians, Technical
                     and Administrative staffs.  Over the period of time, by the grace of almighty Allah Subhanahu Wa Tala,
                     the Ibn Sina Trust is now a name of ‘TRUST’ in the sector of health care in Bangladesh and is one of
                     the largest health service provider in South Asia. </p>The trust is now serving the people of Bangladesh
                     by providing health facilities through a reputed Medical College, a renowned Nursing Institute, a
                     specialized hospital with 300 beds along with other two general hospitals consist of 300 and 50 beds.
                     Besides, the Ibn Sina Trust is more famous in the sector of diagnosis and investigation. It is an ISO
                     certified organization and has one of the equipped laboratories of the country. The laboratory and
                     imaging reports of Ibn Sina Diagnostic centers are well accepted in Singapore General Hospital,
                     Mount Elizabeth Hospital Singapore, Bumrungrad International Hospital Thailand and other reputed
                     hospitals of Asia. It has been possible because of using latest analyzer and imaging machineries
                     of medical science in Ibn Sina Diagnostic Centers. Well educated and the most experienced reporting
                     consultants are working hard here to verify the reports. It is our pride to mention that our consultants
                     have authority on their respective area of expertise with European and North American degrees.<br><br>
                     Ibn Sina Trust is enthusiastic to introduce the latest inventions of medical science of Germany,
                     Europe and North America. Our laboratory has 3 Tesla MRI, 128 slice CT scan machine and other latest
                     imaging and laboratory machineries. It won’t be excess to mention that we have introduced these machines
                     well ahead of other countries of South Asia. World famous Siemens-Germany, General Electronic-USA, Olympus
                     Japan, Kiazon Japan, Nihonkoden Japan, and Fuji Japan are our proud suppliers.

                 </p>
                 <hr>
                 <h3>Author-</h3>
                 <h4>Abul Hossain Arif</h4>
                 <h6>aharif17@gmail.com</h6>
                 <h6>+08801922901221</h6>
                 <!--<p> <a href="index1.php">Admin</a></p>
                 <p> <a href="http://210.4.73.54/report">Find your Report</a></p>--->
             </div>
         </div>
         <br><br><br><br>
     </div>
</div>
</div>
</div>








                 about...........................................
     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>