<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>

<![endif]-->
</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Service</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Service</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >
       <center> <p><font color="green">  <h2>MediAid (A Unique Hospital In Bangladesh)</h2></font></p></center>

       <center>  <h4>Matbererchar,Shibchar,Madaripur-7930</h4></center>

                 <center> <h5>www.mediaidhospital.com</h5></center>
                 <center><h6>+08801922901221</h6> </center>
<hr>
         <center> <h3>Our Medical Services</h3></center>
<hr>

         <td><img th:src="@{/images/services.jpg}" class="img-fluid" width="2000" height="500"></td>




         <div class="mkdf-row-grid-section-wrapper ">
             <div class="mkdf-row-grid-section">
                 <p style="text-align:justify;line-height: 2;">

                 </p>


                 <div class="row">
                     <div class="col-12">

                         <table class="table table-bordered table-hover">
                             <thead>
                             <tr>
                                 <td style="font-size: x-large;background:lightgreen;color:black"><center><strong>Service Name</strong></center></td>

                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <td style="font-size:large"><center><p> Ward/Cabin Information</p></center>

                                 </td>

                             </tr>
                             </tbody>


                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p> Emergency </p></center>

                                 </td>

                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>Obstetrics and Gynae</p></center>

                             </tr>
                             </tbody>

                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p> Stroke ICU with full support</p></center>
                             </tr>
                             </tbody>

                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p> Dialysis</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>  ICU </p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>NICU</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p> Blood Bank </p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p> Cardiac center </p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>Surgery</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>FNAC</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>Oncology</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>Medicine Suggessiont</p></center>
                             </tr>
                             </tbody>
                             <tbody>
                             <tr>
                                 <td style="font-size: large"><center><p>CSSD</p></center>
                             </tr>
                             </tbody>
                         </table>

                     </div>

                 </div>
             </div>

         </div>
                 <h3>Author-</h3>
                 <h4>Abul Hossain Arif</h4>
                 <h6>aharif17@gmail.com</h6>
                 <h6>+08801922901221</h6>

             </div>
         </div>

     </div>
</div>
</div>
</div>









     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>