<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>

<![endif]-->
</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Vision</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Vision</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >
         <center> <p><font color="green">  <h2>MediAid (A Unique Hospital In Bangladesh)</h2></font></p></center>
         <center>  <h4>Matbererchar,Shibchar,Madaripur-7930</h4></center>
         <center> <h5>www.mediaidhospital.com</h5></center>
         <center><h6>+08801922901221</h6> </center>
         <hr>




         <div class="mkdf-row-grid-section-wrapper ">
             <div class="mkdf-row-grid-section">
                 <p style="text-align:justify;line-height: 2;">
                 <h2><center>Our  Mission & Vision</center></h2><hr>
                 <td><h4></h4><img th:src="@{/images/hospitalot.jpeg}" class="img-fluid" width="1500" height="500"></td><hr>

                 <p> <h4>To be on a planet devoid of the distressed and the diseased.</h4></p>
                 <p> <h4> To be at the level where help is sought to save lives.</h4></p>
                 <p> <h4>To be an institution that rises above pettiness to help humanity.</h4></p>
                 <p><h4> To become the most trusted premier institution serving the sufferings of humanity and people’s welfare oriented activities.

             </h4> </p><hr>
                 <h3>Author-</h3>
                 <h4>Abul Hossain Arif</h4>
                 <h6>aharif17@gmail.com</h6>
                 <h6>+088 01922901221</h6>
                 <!--<p> <a href="index1.php">Admin</a></p>
                 <p> <a href="http://210.4.73.54/report">Find your Report</a></p>--->
             </div>
         </div>
         <br><br><br><br>
     </div>
</div>
</div>
</div>








                 about...........................................
     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>