<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Add Advices</title>

<!--[endif]-->


    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }
    </style>

</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h2 class="page-title">MediAid (A Unique Hospital In Bangladesh)</h2>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Library</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->


     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >
         <h3 class="page-title">Patient & Advices</h3>

         <span th:class="succes" th:text="${successMsg}"></span>
         <div class="row" th:class="mm">
             <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                 <div class="login-brand">
                     Advices
                 </div>


                 <div class="card card-primary">
                     <div class="card-header"><h4>Add Advices</h4></div>
                     <div class="card-body">

                         <form action="#" th:object="${advice}" th:action="@{/advice/add}" th:method="POST">
                             <div class="row">


                                 <div class="form-group col-12">
                                     <label for="doctorName">Patient Name</label>
                                     <input id="doctorName" type="text" th:field="*{patientName}" class="form-control" name="patientName"
                                            placeholder="Enter A Patient Name"/>
                                 </div>


                                 <div class="form-group col-12">
                                     <label for="departmentName">Advices</label>
                                     <input id="departmentName" type="text" th:field="*{advices}" class="form-control" name="advices"
                                            placeholder="Enter Advices"/>
                                 </div>




                             </div>



                             <div class="form-group">
                                 <button type="submit" class="btn btn-primary btn-block">
                                     Add Advices
                                 </button>
                             </div>



                         </form>
                     </div>
                 </div>
             </div>
         </div>




     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>